<h1>Angular Reactive Form</h1>
<div class="form-container">
    <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
      <div formArrayName="addresses">
        <div *ngFor="let address of addresses.controls; let i = index" class="form-field">
          <div [formGroupName]="i">
            <label for="street{{ i }}">Street Address:</label>
            <input type="text" id="street{{ i }}" formControlName="street">
            <label for="city{{ i }}">City:</label>
            <input type="text" id="city{{ i }}" formControlName="city">
            <label for="zip{{ i }}">Zip Code:</label>
            <input type="text" id="zip{{ i }}" formControlName="zip">
            <div *ngIf="address.get('zip')?.hasError('pattern')" class="error-message">
              Invalid ZIP code format (e.g., 12345).
            </div>
            <div *ngIf="address.get('zip')?.hasError('pattern')" class="error-message">
              ZIP code is required.
            </div>
            <div class="button-container">
              <button type="button" (click)="removeAddress(i)" class="remove-button">Remove</button>
              <button type="button" (click)="addAddress()" class="add-button">Add Address</button>
            </div>
          </div>
        </div>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
  